/* light reset from Grok suggestion */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

.container {
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

/* ************************ */
/* SIDEBAR */
/* ************************ */

.sidebar {
    background-color: rgb(25,146,211);
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 16px;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 72px repeat(11, 48px);
    color: white;
}

/* make side flex to spread svg icon and text evenly */
.side {
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.side img {
    height: 55%;
    align-items: center;
}

.side p {
    /* align-items: center;  */
    margin: 0;
    margin-left: 12px;
}

.logo {
    height: 72px;
    font-size: 2rem;
}

.logo img {
    height: 55%;
}

/* ************************ */
/* HEADER */
/* ************************ */

.header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
}

/* ************************ */
/* MAIN AREA */
/* ************************ */

.main-content {
    background-color: rgb(226,232,240);
    grid-column: 2/3;
    grid-row: 2/3;
}